.archive,
.blog {
  .section {
    padding: 0;
    border: 1px solid transparent;
  }

  .entry-title {
    font-weight: 300;
    color: #111111;

    &:before {
      content: '\f0c1';
      font-family: FontAwesome;
      color: #ccc;
      display: inline-block;
      margin-right: 5px;
      @include transition(0.4s);
    }

    &:hover:before {
      color: inherit;
      @include transform(rotate(195deg));
    }
  }

  article {
    @include clearfix;
    margin: 0 0 25px 0;
    border: 1px solid transparent;

    .inner {
      @include clearfix;
    }
  }

  .comment-meta {
    float: right;
    padding-left: 15px;
  }

  .entry-footer {
    font-size: 0.9em;

    .meta {
      display: inline-block;
      margin-right: 15px;
    }
  }

  @media screen {
    @media (min-width: 700px) {
      .feature-image {
        float: left;
        margin: 0 15px 5px 0;
        width: 35%;
      }
    }
  }
}