/** Featured Page **/
.featured-page {
  position: relative;
  padding: 0;

  .feature-image {
    position: relative;
    line-height: 0;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      @include borderbox;
    }
  }

  .featured-footer {
    margin: 15px 0;
  }

  .read-more {
    position: relative;
    background-color: #21759b;
    color: #ffffff;
    display: inline-block;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    @include radius(3px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include boxshadow(2px 0 0 2px #f1f1f1, 3px 0 0 3px #fff);
      @include radius(3px);
      @include transition(0.4s);
    }

    &:hover:before {
      @include transform(scaleX(-1));
    }
  }

  @media screen {
    @media (min-width: 700px) {
      &.has-thumb {
        .featured-content-container {
          position: absolute;
          bottom: 25px;
          left: 0;
          width: 100%;
          text-align: right;
          @include borderbox;
        }
      }

      .feature-header,
      .featured-content {
        color: #ffffff;
        text-shadow: 0 0 1px #000;
        max-width: 65%;
        margin-left: auto;
      }

      .feature-title {
        text-shadow: 2px 1px #444, 3px 1px #555, 4px 1px #666;
        margin: 0;
        font-size: 2em;
      }

      .featured-content {
        max-height: 90px;
        overflow: hidden;
      }
    }

    @media (min-width: 800px) {
      .feature-header {
        font-size: 1.4em;
        h2 {
          margin: 0;
        }
      }

      .featured-content {
        font-size: 1.1em;
        max-height: 100%;
        overflow: visible;
      }
    }

    @media (min-width: 1024px) {
      .feature-header,
      .featured-content {
        max-width: 60%;
      }
    }

    @media (min-width: 1200px) {
      .feature-title {
        font-size: 2.4em;
      }
    }
  }
}

/** Featured Contents **/
.featured-contents {
  article {
    text-align: center;
    display: block;
    margin: 0 0 25px 0;

    .inner {
      @include clearfix;
      padding: 0 25px 15px 25px;
      background-color: #ffffff;
      border: 1px solid transparent;
      @include boxshadow(0 0 2px 0 #ccc);
    }
  }

  .entry-title {
    margin-top: 0;
    font-size: 1.1em;
    font-weight: 400;
  }

  .feature-image {
    margin: 0 -25px;
    float: none;
  }

  .section-footer {
    margin: 15px 0;
    text-align: center;

    .view-more {
      display: inline-block;
      padding: 8px 25px;
      text-transform: uppercase;
      background-color: #d54e21;
      color: #ffffff;
    }
  }

  @media screen {
    @media (min-width: 700px) {
      .section-loop {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
      }

      article {
        width: 50%;
        padding: 0 15px;
        @include borderbox;

        .inner {
          float: left;
          width: 100%;
          height: 100%;
          @include borderbox;
        }
      }

      .feature-image {
        float: none;
        display: block;
        width: auto;
      }

      .entry-content {
        text-align: left;
      }
    }
  }

  @media (min-width: 800px) {
    article {
      width: $width/12*4;
    }
  }

  @media (min-width: 12828px) {
    article {
      width: $width/12*3;
    }
  }
}