.header-section {
  .masthead {
    padding: 15px 0;
  }

  .custom-logo-link {
    display: block;
    line-height: 0;
    text-align: center;

    img {
      max-height: 100px;
      width: auto;
    }
  }

  .site-title {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5;
    color: #ffffff;
  }

  .site-description {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .menu-item {
    padding: 5px 7.5px;

    a {
      color: #ffffff;
    }
  }

  .widget {
    margin: 0;
  }

  .header-box {
    .widget {
      margin: 5px 0;
    }
  }

  .toggle-menu {
    font-size: 0.8em;
    float: right;
    border-color: #888;
    background-color: #4d4d4d;
    color: #fff;
    line-height: 1;

    &:hover {
      background-color: #404040;
    }
  }

  #primary-menu-container {
    height: 34px;
    overflow: hidden;

    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }

    .sub-menu {
      .menu-item {
        font-size: 0.9em;
      }
    }
  }

  #primary-menu-toggle {
    display: none;
  }

  :checked + #primary-menu-container {
    height: 100%;
    overflow: visible;
  }

  @media screen {
    @media (min-width: 700px) {
      .toggle {
        display: none;
      }

      .masthead,
      .header-box {
        display: inline-block;
        vertical-align: top;
        @include borderbox;
      }

      .masthead {
        width: 25%;
      }

      .custom-logo-link {
        text-align: left;
      }

      .header-box {
        width: 75%;
        margin: 0 0 0 -5px;
        padding: 0 0 0 45px;
        vertical-align: bottom;
        text-align: right;

        li {
          display: inline-block;
        }
      }

      #primary-menu {
        margin: 15px 0;
      }

      .menu-item {
        display: inline-block;
        vertial-align: top;

        &:last-of-type {
          padding-right: 0;
        }
      }

      #primary-menu-container {
        height: 100%;
        overflow: visible;

        .sub-menu {

          .menu-item a {
            &:after {
              content: '';
              position: relative;
              left: 10px;
              border-right: 1px solid #555;
              border-left: 1px solid #333;
            }
          }

          .sub-menu {
            position: absolute;
            min-width: 200px;
            margin: 5px -12px;
            background-color: #464646;
            border: 1px solid #555;
            padding: 5px 15px;
            text-align: left;
            z-index: -1;
            opacity: 0;
            @include transform(0.4s);

            .menu-item {
              display: block;
              border-bottom: 1px solid #555;

              a {
                &:after {
                  display: none;
                }
              }

              &:last-of-type {
                border: 0;
              }
            }
          }

          .menu-item-has-children:hover > .sub-menu {
            z-index: 9999;
            opacity: 1;
          }
        }
      }
    }
  }
}