body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #444444;
}

a {
  color: #21759b;
  text-decoration: none;
}
a:hover {
  color: #2a4994;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

section {
  clear: both;
  padding: 25px 0;
}
section:before, section:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}

.section-header {
  text-align: center;
  padding-bottom: 25px;
}

.section-title {
  font-size: 2.4em;
  font-family: "Arial Black", sans-serif;
  margin-bottom: 0;
}
.section-title:after {
  content: '';
  display: block;
  border-top: 3px double #d54e21;
  width: 10%;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}

.entry-title a {
  color: inherit;
}

.toggle {
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 1.2em;
  cursor: pointer;
}
.toggle .fa-times {
  display: none;
}
.toggle.active .fa {
  display: none;
}
.toggle.active .fa-times {
  display: block;
}

.post-categories {
  margin: 0 15px 0 0;
  list-style: none;
  padding: 0;
  display: inline-block;
}
.post-categories:before {
  content: '\f07b';
  font-family: FontAwesome;
  color: #888888;
}
.post-categories:hover:before {
  content: '\f07c';
}
.post-categories li {
  display: inline-block;
}

.meta-tag {
  display: inline-block;
  color: #888888;
}
.meta-tag .fa {
  margin-right: 5px;
}

.with-right-sidebar .main-container {
  padding-bottom: 25px;
}

.required {
  color: red;
}

@media screen and (min-width: 800px) {
  .with-right-sidebar .main-container,
  .with-right-sidebar .right-container {
    float: left;
    box-sizing: border-box;
  }
  .with-right-sidebar .main-container {
    width: 75%;
    padding-right: 45px;
    box-shadow: 15px 0 15px -10px #999;
  }
  .with-right-sidebar .right-container {
    width: 25%;
    padding-left: 35px;
  }
}
/** GLOBAL WordPress theme required classes **/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.alignnone,
.aligncenter {
  display: block;
  clear: both;
  margin: 0 auto;
  max-width: 100%;
}

.alignnone {
  margin: 0;
}

article .alignleft {
  margin: 0 15px 15px 0;
}
article .alignright {
  margin: 0 0 15px 15px;
}
article .aligncenter {
  display: block;
  margin: 15px auto;
}

.entry-date {
  position: absolute;
  height: 0;
  overflow: hidden;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
  color: #333;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

thead th {
  padding-bottom: 0.5em;
}

th {
  padding: 0.4em;
  text-align: left;
}

td {
  padding: 0.4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.wp-caption {
  text-align: center;
}

.wp-caption-text,
.gallery-caption {
  text-align: center;
  margin: 0;
  font-size: 90%;
}

.bypostauthor {
  display: inline-block;
}

.page-numbers {
  border: 0;
  display: inline-block;
  padding: 3px 12px;
  background-color: #464646;
  color: #fff;
  border-radius: 3px;
}
.page-numbers:hover {
  background-color: #3b3b3b;
  color: #ffffff;
}
.page-numbers.current, .page-numbers.dots {
  color: inherit;
  border: 0;
  background: transparent;
  border-bottom: 3px double #c6c6c6;
}
.page-numbers.dots {
  border: 0;
}
.page-numbers.next, .page-numbers.prev {
  color: #464646;
  background-color: transparent;
}

.nav-links {
  clear: both;
}
.nav-links:before, .nav-links:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}

.nav-subtitle {
  display: inline-block;
  color: #464646;
  font-size: 1.8em;
  line-height: 1;
}

.nav-previous {
  float: left;
  width: 30%;
  box-sizing: border-box;
}

.nav-next {
  float: right;
  text-align: right;
  width: 30%;
  box-sizing: border-box;
}

.nav-title {
  display: block;
  font-size: 0.9em;
  margin-top: 10px;
}

.social-media-links {
  display: block;
  padding: 5px 0;
  text-align: right;
}

.social-media {
  display: inline-block;
  width: 25px;
  padding: 0 8px;
  line-height: 2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #f1f1f1;
}
.social-media .icon:before {
  content: '';
  font-family: FontAwesome;
}
.social-media .icon-facebook:before {
  content: '\f09a';
}
.social-media .icon-twitter:before {
  content: '\f099';
}
.social-media .icon-linkedin:before {
  content: '\f0e1';
}
.social-media .icon-google-plus:before {
  content: '\f0d5';
}
.social-media .icon-email:before {
  content: '\f0e0';
}
.social-media .icon-rss:before {
  content: '\f09e';
}

@media screen and (min-width: 600px) {
  .social-media-links {
    float: right;
    text-align: right;
  }
}
/** FORM and form-fields **/
input,
select,
textarea,
button {
  max-width: 100%;
  padding: 6px 12px;
  border: 1px solid #464646;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  border-color: #21759b;
}

/** Header **/
.main-header {
  background-color: #464646;
  color: #ffffff;
}
.main-header section {
  padding: 0;
}
.main-header .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-section {
  background-color: #434343;
  border-bottom: 1px solid #5a5a5a;
}
.top-section .mini-logo-link {
  display: none;
  line-height: 0;
}
.top-section .mini-logo-link img {
  max-height: 40px;
  width: auto;
}
.top-section .top-text {
  padding: 9px 0;
}
.top-section .toggle-search {
  float: right;
}
.top-section .search-box {
  display: none;
  padding: 5px 0;
}
@media screen and (min-width: 400px) {
  .top-section .top-text {
    display: inline-block;
  }
}
@media screen and (min-width: 700px) {
  .top-section .toggle-search {
    display: none;
  }
  .top-section .search-box {
    float: right;
    display: block;
  }
}

.header-section .masthead {
  padding: 15px 0;
}
.header-section .custom-logo-link {
  display: block;
  line-height: 0;
  text-align: center;
}
.header-section .custom-logo-link img {
  max-height: 100px;
  width: auto;
}
.header-section .site-title {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.5;
  color: #ffffff;
}
.header-section .site-description {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8em;
}
.header-section .menu-item {
  padding: 5px 7.5px;
}
.header-section .menu-item a {
  color: #ffffff;
}
.header-section .widget {
  margin: 0;
}
.header-section .header-box .widget {
  margin: 5px 0;
}
.header-section .toggle-menu {
  font-size: 0.8em;
  float: right;
  border-color: #888;
  background-color: #4d4d4d;
  color: #fff;
  line-height: 1;
}
.header-section .toggle-menu:hover {
  background-color: #404040;
}
.header-section #primary-menu-container {
  height: 34px;
  overflow: hidden;
}
.header-section #primary-menu-container ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.header-section #primary-menu-container .sub-menu .menu-item {
  font-size: 0.9em;
}
.header-section #primary-menu-toggle {
  display: none;
}
.header-section :checked + #primary-menu-container {
  height: 100%;
  overflow: visible;
}
@media screen and (min-width: 700px) {
  .header-section .toggle {
    display: none;
  }
  .header-section .masthead,
  .header-section .header-box {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  .header-section .masthead {
    width: 25%;
  }
  .header-section .custom-logo-link {
    text-align: left;
  }
  .header-section .header-box {
    width: 75%;
    margin: 0 0 0 -5px;
    padding: 0 0 0 45px;
    vertical-align: bottom;
    text-align: right;
  }
  .header-section .header-box li {
    display: inline-block;
  }
  .header-section #primary-menu {
    margin: 15px 0;
  }
  .header-section .menu-item {
    display: inline-block;
    vertial-align: top;
  }
  .header-section .menu-item:last-of-type {
    padding-right: 0;
  }
  .header-section #primary-menu-container {
    height: 100%;
    overflow: visible;
  }
  .header-section #primary-menu-container .sub-menu .menu-item a:after {
    content: '';
    position: relative;
    left: 10px;
    border-right: 1px solid #555;
    border-left: 1px solid #333;
  }
  .header-section #primary-menu-container .sub-menu .sub-menu {
    position: absolute;
    min-width: 200px;
    margin: 5px -12px;
    background-color: #464646;
    border: 1px solid #555;
    padding: 5px 15px;
    text-align: left;
    z-index: -1;
    opacity: 0;
    -ms-transform: 0.4s;
    transform: 0.4s;
  }
  .header-section #primary-menu-container .sub-menu .sub-menu .menu-item {
    display: block;
    border-bottom: 1px solid #555;
  }
  .header-section #primary-menu-container .sub-menu .sub-menu .menu-item a:after {
    display: none;
  }
  .header-section #primary-menu-container .sub-menu .sub-menu .menu-item:last-of-type {
    border: 0;
  }
  .header-section #primary-menu-container .sub-menu .menu-item-has-children:hover > .sub-menu {
    z-index: 9999;
    opacity: 1;
  }
}

#main-navigation {
  background-color: #d54e21;
  border-top: 1px solid #5a5a5a;
  padding: 5px 0;
  clear: both;
}
#main-navigation:before, #main-navigation:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}
#main-navigation .container {
  display: none;
}
#main-navigation a {
  color: #ffffff;
}
#main-navigation .menu-item {
  display: block;
}
#main-navigation .menu-item a {
  display: block;
  padding: 2px 15px;
}
#main-navigation .menu-item a:hover {
  background-color: #c0491f;
}
#main-navigation .menu-item:hover {
  background-color: #c0491f;
}
#main-navigation .sub-menu {
  margin: 0;
  list-style: none;
  padding: 0 0 0 15px;
}
#main-navigation .search-box {
  margin: 15px 0 0 0;
}
#main-navigation .searchform div {
  position: relative;
}
#main-navigation .searchform div:after {
  content: '\f002';
  position: absolute;
  font-family: FontAwesome;
  color: #777;
  top: 0;
  right: 10px;
  line-height: 1.7;
}
#main-navigation #searchsubmit {
  display: none;
}
#main-navigation #s {
  border-radius: 20px;
  display: block;
  width: 100%;
  border: 0;
}
#main-navigation .toggle {
  float: right;
  margin: 0;
  padding: 0 15px;
  border: 0;
  color: #ffffff;
  line-height: 5px;
  background: transparent;
}
#main-navigation #main-nav-menu-toggle {
  display: none;
}
#main-navigation :checked + .container {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 800px) {
  #main-navigation {
    padding: 5px 0;
  }
  #main-navigation .toggle {
    display: none;
  }
  #main-navigation .container {
    display: block;
  }
  #main-navigation .main-nav {
    float: left;
    width: 70%;
    box-sizing: border-box;
  }
  #main-navigation .menu-item {
    display: inline-block;
    vertical-align: top;
  }
  #main-navigation .menu-item a {
    padding: 8px 15px;
  }
  #main-navigation .sub-menu {
    position: absolute;
    padding: 2px 15px;
    z-index: -9;
    background-color: #fafafa;
    border-style: solid;
    border-color: #c0491f;
    border-width: 5px 0;
    opacity: 0;
    transition: 0.4s;
  }
  #main-navigation .sub-menu .menu-item a {
    color: #444444;
  }
  #main-navigation .sub-menu .menu-item a:hover {
    color: #ffffff;
  }
  #main-navigation .sub-menu .sub-menu {
    position: relative;
    z-index: 1;
    opacity: 1;
    display: block;
    border: 0;
  }
  #main-navigation .sub-menu .sub-menu .menu-item {
    display: block;
  }
  #main-navigation .sub-menu .sub-menu .menu-item:hover {
    background: none;
  }
  #main-navigation .sub-menu .sub-menu .menu-item a {
    padding: 2px 15px;
  }
  #main-navigation .sub-menu .sub-menu .menu-item a:hover {
    background: none;
    color: #c0491f;
  }
  #main-navigation .menu-item-has-children:hover > .sub-menu {
    z-index: 9999;
    opacity: 1;
  }
  #main-navigation .search-box {
    float: right;
    margin: 5px 0;
  }
}

/** General archive styling **/
.archive .section,
.blog .section {
  padding: 0;
  border: 1px solid transparent;
}
.archive .entry-title,
.blog .entry-title {
  font-weight: 300;
  color: #111111;
}
.archive .entry-title:before,
.blog .entry-title:before {
  content: '\f0c1';
  font-family: FontAwesome;
  color: #ccc;
  display: inline-block;
  margin-right: 5px;
  transition: 0.4s;
}
.archive .entry-title:hover:before,
.blog .entry-title:hover:before {
  color: inherit;
  -ms-transform: rotate(195deg);
  transform: rotate(195deg);
}
.archive article,
.blog article {
  clear: both;
  margin: 0 0 25px 0;
  border: 1px solid transparent;
}
.archive article:before, .archive article:after,
.blog article:before,
.blog article:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}
.archive article .inner,
.blog article .inner {
  clear: both;
}
.archive article .inner:before, .archive article .inner:after,
.blog article .inner:before,
.blog article .inner:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}
.archive .comment-meta,
.blog .comment-meta {
  float: right;
  padding-left: 15px;
}
.archive .entry-footer,
.blog .entry-footer {
  font-size: 0.9em;
}
.archive .entry-footer .meta,
.blog .entry-footer .meta {
  display: inline-block;
  margin-right: 15px;
}
@media screen and (min-width: 700px) {
  .archive .feature-image,
  .blog .feature-image {
    float: left;
    margin: 0 15px 5px 0;
    width: 35%;
  }
}

/** General single post/page styling **/
.single,
.page {
  color: #464646;
}
.single .single-section,
.single .section,
.page .single-section,
.page .section {
  padding-top: 45px;
  padding-bottom: 0;
  border: 1px solid transparent;
}
.single .entry-title,
.page .entry-title {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.single .post-meta,
.page .post-meta {
  font-size: 0.85em;
  color: #666666;
}
.single .post-meta a,
.page .post-meta a {
  color: inherit;
}
.single .post-meta span,
.page .post-meta span {
  display: inline-block;
}
.single .meta-comments,
.page .meta-comments {
  float: right;
  color: #21759b;
}
.single .entry-footer,
.page .entry-footer {
  margin: 15px 0;
}
@media screen and (min-width: 800px) {
  .single .entry-header,
  .page .entry-header {
    padding: 15px 0 0 0;
  }
}

.comment-area:before {
  content: '';
  display: block;
  border-style: double;
  border-color: #464646;
  border-width: 5px 0;
  width: 20%;
  margin: 25px 0;
}
.comment-area .comment-respond {
  margin: 15px 0;
}
.comment-area .comment-notes {
  font-size: 0.8em;
  color: #555;
}
.comment-area label {
  display: block;
}
.comment-area .comment-form-comment textarea {
  width: 100%;
}
.comment-area .comment-list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.comment-area .comment-list .comment {
  display: block;
}
.comment-area .comment-body {
  margin: 0 0 25px 0;
  box-shadow: -5px 1px 5px 0 #ccc;
  padding: 15px 25px;
  border-radius: 3px;
}
.comment-area .avatar {
  float: left;
  margin: 0 15px 5px 0;
}
.comment-area .comment-metadata {
  display: block;
  text-align: right;
  font-size: 0.8em;
}
.comment-area .comment-metadata .edit-link {
  display: inline-block;
  margin-left: 10px;
  background-color: #f1f1f1;
  padding: 4px 12px;
  border-radius: 3px;
}
.comment-area .comment-metadata .edit-link a:after {
  content: '\f044';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 5px;
}
.comment-area .reply {
  text-align: right;
  text-transform: uppercase;
}
.comment-area .reply a:after {
  content: '\f112';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 5px;
}
@media screen and (min-width: 700px) {
  .comment-area .comment-form-comment {
    float: left;
    width: 50%;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .comment-area .comment-form-author,
  .comment-area .comment-form-email,
  .comment-area .comment-form-url {
    float: left;
    width: 50%;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  .comment-area .form-submit {
    clear: both;
  }
  .comment-area .form-submit:before, .comment-area .form-submit:after {
    content: '';
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
  }
}

/** Widgets and widgets containers **/
.widget {
  margin: 0 0 25px 0;
  font-size: 0.9em;
}
.widget .widget-title {
  font-weight: 400;
  font-size: 1.1em;
  padding: 5px 0;
  border-bottom: 3px double #c6c6c6;
}
.widget ul,
.widget ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/** Custom home page **/
/** Featured Page **/
.featured-page {
  position: relative;
  padding: 0;
}
.featured-page .feature-image {
  position: relative;
  line-height: 0;
  text-align: center;
}
.featured-page .feature-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.featured-page .featured-footer {
  margin: 15px 0;
}
.featured-page .read-more {
  position: relative;
  background-color: #21759b;
  color: #ffffff;
  display: inline-block;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  border-radius: 3px;
}
.featured-page .read-more:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 0 2px #f1f1f1, 3px 0 0 3px #fff;
  border-radius: 3px;
  transition: 0.4s;
}
.featured-page .read-more:hover:before {
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media screen and (min-width: 700px) {
  .featured-page.has-thumb .featured-content-container {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
  }
  .featured-page .feature-header,
  .featured-page .featured-content {
    color: #ffffff;
    text-shadow: 0 0 1px #000;
    max-width: 65%;
    margin-left: auto;
  }
  .featured-page .feature-title {
    text-shadow: 2px 1px #444, 3px 1px #555, 4px 1px #666;
    margin: 0;
    font-size: 2em;
  }
  .featured-page .featured-content {
    max-height: 90px;
    overflow: hidden;
  }
}
@media screen and (min-width: 800px) {
  .featured-page .feature-header {
    font-size: 1.4em;
  }
  .featured-page .feature-header h2 {
    margin: 0;
  }
  .featured-page .featured-content {
    font-size: 1.1em;
    max-height: 100%;
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) {
  .featured-page .feature-header,
  .featured-page .featured-content {
    max-width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .featured-page .feature-title {
    font-size: 2.4em;
  }
}

/** Featured Contents **/
.featured-contents article {
  text-align: center;
  display: block;
  margin: 0 0 25px 0;
}
.featured-contents article .inner {
  clear: both;
  padding: 0 25px 15px 25px;
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 2px 0 #ccc;
}
.featured-contents article .inner:before, .featured-contents article .inner:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}
.featured-contents .entry-title {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: 400;
}
.featured-contents .feature-image {
  margin: 0 -25px;
  float: none;
}
.featured-contents .section-footer {
  margin: 15px 0;
  text-align: center;
}
.featured-contents .section-footer .view-more {
  display: inline-block;
  padding: 8px 25px;
  text-transform: uppercase;
  background-color: #d54e21;
  color: #ffffff;
}
@media screen and (min-width: 700px) {
  .featured-contents .section-loop {
    margin: 0 -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .featured-contents article {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .featured-contents article .inner {
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .featured-contents .feature-image {
    float: none;
    display: block;
    width: auto;
  }
  .featured-contents .entry-content {
    text-align: left;
  }
}

@media (min-width: 800px) {
  .featured-contents article {
    width: 33.33333%;
  }
}
@media (min-width: 12828px) {
  .featured-contents article {
    width: 25%;
  }
}

/** Footer area **/
.main-footer {
  background-color: #464646;
  color: #ffffff;
}
.main-footer a {
  color: #ffffff;
}
.main-footer .footer-text-section {
  position: relative;
  padding: 5px 0;
  font-size: 0.85em;
  z-index: 1;
}
.main-footer .footer-text-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.main-footer .footer-text {
  margin: 0;
  text-align: center;
}

.footer-widgets .wf-column {
  float: left;
}
.footer-widgets .widget {
  margin: 0 0 25px 0;
  color: #f1f1f1;
}
.footer-widgets .widget a {
  color: #f1f1f1;
}
.footer-widgets .widget a:hover {
  color: #ffffff;
}
.footer-widgets .widget-title {
  border-bottom: 6px double #999;
}
.footer-widgets .inner-widget {
  clear: both;
}
.footer-widgets .inner-widget:before, .footer-widgets .inner-widget:after {
  content: '';
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .footer-widgets .widgets-container {
    margin: 0 -25px;
  }
  .footer-widgets .widget {
    float: left;
    width: 50%;
    padding: 0 25px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 800px) {
  .footer-widgets .widget {
    width: 33.33333%;
  }
}
@media screen and (min-width: 1128px) {
  .footer-widgets .widget {
    width: 25%;
  }
}
